@use '/styles/_helpers' as *;

.tikerBox {
  width: 105%;
  height: 45px;
  background: #f3eeea;
  z-index: 1;
  position: relative;

  span {
    color: #000000;
    @extend %f3;
    font-size: 36px;
    white-space: nowrap;
    line-height: 150%;
    user-select: none;
  }
}
