//------------- Variables --------------//

$background: var(--background);
$mainColor: var(--mainColor);
$textColor: var(--color1);

$black: var(--color1);
$white: var(--color2);
$grey: var(--color3);

$darkblue: var(--color4);
$middleblue: var(--color5);
$lightblue: var(--color6);

$error: var(--error);
$input: var(--input);
$monoChrome: var(--monoChrome);
$monoChromeReverse: var(--monoChromeReverse);
$mainMono: var(--mainMono);

$lightgrey: #757575;

//-------------- Mixins ---------------//

@mixin text($f, $lh) {
  font-size: $f;
  line-height: $lh;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1025px) {
    @content;
  }
}

@mixin noMobile {
  @media screen and (min-width: 426px) {
    @content;
  }
}

//-------------- Extends ---------------//

%border {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 2px 4px rgb(0 0 0 / 3%), 0 3px 24px rgb(0 0 0 / 3%);
}

%border2 {
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 5%), 0 3px 4px rgb(0 0 0 / 5%);
}

%scroll {
  &::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: #b5b1aed3;
    border-radius: 15px;

    &:hover {
      background: #868380d3;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

%f1 {
  font-family: 'Yeseva One', sans-serif;
}

%f2 {
  font-family: 'Manrope', sans-serif;
}

%f3 {
  font-family: 'Bebas Neue', cursive;
}

//-------------- Animations ---------------//

@keyframes show {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes showBlur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 0.01rem rgba(73, 73, 73, 0.25);
  }
  100% {
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.25);
  }
}

@keyframes shake {
  0% {
    left: 0;
  }
  15% {
    left: 10px;
  }
  30% {
    left: -10px;
  }
  45% {
    left: 10px;
  }
  60% {
    left: -10px;
  }
  75% {
    left: 10px;
  }

  90% {
    left: 0;
  }
}
