* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #212121;
  background: #f3eeea;
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
